<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Blog
 */
?>
<?php
/** @var \Amasty\Blog\Block\Content\Post\Details $block */
?>
 
<?php if (count($block->getCategories())) : ?>
 
    <?php $isFirst = true; ?>
    <?php foreach ($block->getCategories() as $category) : ?>
        <?php if (!$isFirst) : ?>
            ,&nbsp;
        <?php endif ?>
        <a href="<?= $block->escapeUrl($category->getUrl()); ?>" class="category">
            <?= $block->escapeHtml($category->getName()); ?>
        </a>
        <?php $isFirst = false; ?>
    <?php endforeach; ?>
<?php endif; ?>
<style>
.amblog-index-category article.desktop.two-columns-left {    display: inline-block;}
.amblog-index-category .amblog-element-block {    border: none !important;  box-shadow: none !important;}

.amblog-index-category .desktop.two-columns-left aside.left {
    width: 100% !important;
}
.amblog-index-category .desktop.two-columns-left section.content {
    width: 100% !important;
    padding-left: 0px !important;
}
</style>