<?php 
use Magento\Framework\App\Action\Action;
if($this->getConfig('enabled')){ // start enable module?>
	<?php $_productCollection = $this->getProducts();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
	?>
	<div class="rokan-onsaleproduct">
		
		<?php			
			if ($block->getMode() == 'grid') {
				$viewMode = 'grid';
				$image = 'category_page_grid_m';
				$showDescription = false;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
			} else {
				$viewMode = 'list';
				$image = 'category_page_grid_m';
				$showDescription = true;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
			}
			$pos = $block->getPositioned();
			
		?>
		<div class="container">
			<?php if($this->getConfig('title')){?>
				<div class="rokan-product-heading rokan-onsale-heading"><h2><?php echo $this->getConfig('title')?></h2>
				<div class="short_desc">
					</div></div>
			<?php }?>
		</div>
		<?php if(!$_productCollection->getSize()): ?> 
			<div class="rokan-onslate-slider">	
				<p class="note-msg"><?php echo __('There are no products matching the selection.') ?></p>
			</div>
		<?php else: ?>
			<?php
			$rows =  $this->getConfig('items');
			?>	
			<div class="row">
				<ul class="owl">
					<?php $_collectionSize = $_productCollection->count() ?>
					<?php $i=0; foreach ($_productCollection as $_product): ?>
						<?php if($i %$rows == 0) echo "<li class='item featuredproductslider-item'>"; ?>

							<div class="product-item">
								<?php
									$newFromDate = $_product->getNewsFromDate();
									$newToDate = $_product->getNewsToDate();                 
									$now = date("Y-m-d H:m(worry)");
									// Get the Special Price
									$specialprice = $_product->getSpecialPrice(); 
									// Get the Special Price FROM date
									$specialPriceFromDate = $_product->getSpecialFromDate();
									// Get the Special Price TO date
									$specialPriceToDate = $_product->getSpecialToDate();
									// Get Current date
								?>
								<?php

								$productImage = $block->getImage($_product, $image);
								if ($pos != null) {
									$position = ' style="left:' . $productImage->getWidth() . 'px;'
										. 'top:' . $productImage->getHeight() . 'px;"';
								}
								?>
								<div class="product-photo">
									<?php // Product Image ?>
									<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                                        <?php echo $productImage->toHtml(); ?>
									</a>
									<div class="product-label">
										<?php
											if ($specialprice&&($specialPriceFromDate <= $now && $specialPriceToDate >= $now)){
												echo "<span class='onsale'>Sale</span>";
												}else{
												if($newFromDate <= $now && $newToDate >= $now) {
													echo "<span class='newlabel'>New</span>";
													//echo $now.' -- '.$newsFrom.' -- '.$newsTo;
												}
											}
										?>
									</div>
								</div>
								<div class="product-info">
									<?php
										$_productNameStripped = $block->stripTags($_product->getName(), null, true);
									?>
									<h3 class="product name">
										<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
											<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
										</a>
									</h3>
									<div class="product-ratting">
										<?php echo $block->getProductDetailsHtml($_product); ?>
									</div>
									<?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
									<?php //if( $this->getConfig('show_price') ): ?>
										 <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
									<?php //endif; ?>
									<div class="actions ">
										<div class="action-inner">
											<div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
												<?php if ($_product->isSaleable()): ?>
													<?php $postParams = $block->getAddToCartPostParams($_product); ?>
													<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
														<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
														<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
														<?php echo $block->getBlockHtml('formkey')?>
														<button type="submit"
																title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
																class="action tocart primary">
															<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
														</button>
													</form>
												<?php else: ?>
													<?php if ($_product->getIsSalable()): ?>
														<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
													<?php else: ?>
														<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
													<?php endif; ?>
												<?php endif; ?>
											</div>																					
										</div>
									</div>
									<?php if( $this->getConfig('description')){?>
										<div class="ma-desc">
											 <?php echo $block->getProductDetailsHtml($_product); ?>		                    
										</div>
									<?php }?>
								</div>
							<?php $i++;?>
						</div>
						<?php if($i %$rows == 0) echo "</li>"; ?>                  
					<?php endforeach; ?>
						<?php if($i %$rows != 0) echo "</li>"; ?>                
				</ul>
			</div>
		<?php if (!$block->isRedirectToCartEnabled()) : ?>
			<script type="text/x-magento-init">
			{
				"[data-role=tocart-form], .form.map.checkout": {
					"catalogAddToCart": {}
				}
			}
			</script>
		<?php endif; ?>
			<script>
				require([
					'jquery',
					'mage/mage',
					'rokanthemes/owl'
				], function ($) {
					'use strict';

					jQuery(".rokan-onsaleproduct .owl").owlCarousel({
						lazyLoad: true,
						autoPlay : false,
						items : 5,
						itemsDesktop : [1199,5],
						itemsDesktopSmall : [980,3],
						itemsTablet: [768,2],
						itemsMobile : [479,1],
						slideSpeed : 500,
						paginationSpeed : 500,
						rewindSpeed : 500,
						navigation : true,
						stopOnHover : true,
						pagination :false,
						scrollPerPage:true,
					});
				});
			</script>
	<?php endif; ?>
	</div>
<?php } ?>