<?php
/**
 * Copyright ©️ Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var Magento\Review\Block\Product\View\ListView $block */

$_items = $block->getReviewsCollection()->getItems();
$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
?>
<?php if (count($_items)) : ?>
<div class="block review-list" id="customer-reviews">
    <?php if (!$block->getHideTitle()) : ?>
        <div class="block-title">
            <strong><?= $block->escapeHtml(__('Reviews')) ?></strong>
        </div>
    <?php endif ?>
    <div class="block-content">
        <div class="toolbar review-toolbar">
            <?= $block->getChildHtml('toolbar') ?>
        </div>
        <ol class="items review-items" id="datalist">
        <?php foreach ($_items as $_review) : ?>
            <li class="item review-item" itemscope itemprop="review" itemtype="http://schema.org/Review">
                
                <?php if (count($_review->getRatingVotes())) : ?>
                    <div class="review-ratings">
                    <?php foreach ($_review->getRatingVotes() as $_vote) : ?>
                    <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        <span class="label rating-label"><span><?= $block->escapeHtml($_vote->getRatingCode()) ?></span></span>
                        <div class="rating-result" title="<?= $block->escapeHtmlAttr($_vote->getPercent()) ?>%">
                            <meta itemprop="worstRating" content = "1"/>
                            <meta itemprop="bestRating" content = "100"/>
                            <span style="width:<?= $block->escapeHtmlAttr($_vote->getPercent()) ?>%">
                                <span itemprop="ratingValue"><?= $block->escapeHtml($_vote->getPercent()) ?>%</span>
                            </span>
                        </div>
                    </div>
                    <?php endforeach; ?> 
                    </div>
                <?php endif; ?>
                <div class="review-details">
                    <p class="review-author">
                        <span class="review-details-label"><?= $block->escapeHtml(__('Review by')) ?></span>
                        <strong class="review-details-value" itemprop="author"><?= $block->escapeHtml($_review->getNickname()) ?></strong>
                    </p>
                    <p class="review-date">
                        <span class="review-details-label"><?= $block->escapeHtml(__('Posted on')) ?></span>
                        <time class="review-details-value" itemprop="datePublished" datetime="<?= $block->escapeHtmlAttr($block->formatDate($_review->getCreatedAt(), $format)) ?>"><?= $block->escapeHtml($block->formatDate($_review->getCreatedAt(), $format)) ?></time>
                    </p>
                </div>
                <div class="review-title" itemprop="name"><?= $block->escapeHtml($_review->getTitle()) ?></div>
                
                
                <div class="review-content" itemprop="description">
                    <?= /* @noEscape */ nl2br($block->escapeHtml($_review->getDetail())) ?>
                </div>
            </li>
        <?php endforeach; ?>
        </ol>
        <?php if(count($_items) >= 5){ ?>
            <div class="review_readmore">Show More</div>
        <?php } ?>
        <div class="toolbar review-toolbar">
            <?= $block->getChildHtml('toolbar') ?>
        </div>
    </div>
</div>
<?php endif;?>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.4/jquery.min.js"></script>
<script type="text/javascript">
jQuery(function ($) {
    jQuery(".subtitle").insertAfter( ".page-title" );
      $("#datalist li")
      .slice(0, 5)
      .show();
    $("#datalist li:hidden").css("opacity", 0);
    $(".review_readmore").on("click", function(e) {
      $("#datalist li:hidden") // Added :hidden
        .slice(0, 2)
        .slideDown("slow")
        .animate(
          {
            opacity: 1
          },
          {
            queue: false,
            duration: "slow"
          }
        );
      // We need to check the count of just the hidden items
      if ($("#datalist li:hidden").length == 0) {
        $(".review_readmore").fadeOut("slow");
      }
      e.preventDefault();
    });
});
</script>
<style type="text/css">
.review-form{    
    margin: 0px auto;
}
.toolbar.review-toolbar {
    border: 0px;
}
#datalist li {
  display: none;
}
.review-items li:nth-child(n+6) {
    display:none;
}

.review_readmore{
    text-align: center;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    color: #222;
}
</style>