.page--microneedling {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .bg-secondary {
    background-color: #dce0e6 !important;
  }

  .page--microneedling ul {
    padding: 0;
    margin: 20px 0;
  }

  .page--microneedling a h4 {
    font-size: 18px;
  }

  .page--microneedling h3 {
    font-size: 24px;
  }

  .page--microneedling h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .hero img {
    margin: 0 -30px;
    max-width: calc(100% + 60px);
  }

  @media (max-width: 991px) {
    .text-center {
      text-align: center;
    }
  }

  .owl-item,
  .owl-stage {
    display: flex;
    justify-content: center;
  }

  .owl-dots {
    margin-top: 1.5rem;
    text-align: center;
  }

  .owl-dot {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    outline: inherit;
    padding: 0;
  }

  .owl-dot span {
    background-color: #dcdcdc;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px;
    width: 12px;
  }

  .owl-dot.active span {
    background-color: #470018;
  }

  .cool-blue {
    background-color: #edeff2;
  }

  @media (min-width: 992px) {
    .cool-blue {
      background-color: #fff;
    }

    .cool-blue-lg {
      background-color: #edeff2;
    }
  }

  .black {
    color: #000;
  }

  @media (min-width: 992px) {
    .black-lg {
      color: #000;
      font-size: 1.7rem;
    }
  }

  .red {
    color: #470018;
  }

  .white {
    color: #fff;
  }

  .z-index-pe-none {
    pointer-events: none;
    z-index: 1;
  }

  .m-negative-top {
    margin-top: -2.4rem;
  }

  @media (min-width: 768px) {
    .m-negative-top {
      margin-top: -2.7rem;
    }
  }

  .left-0 {
    left: 0;
  }

  .smaller {
    font-size: 0.9rem;
  }

  .border-top {
    border-color: #979797 !important;
  }

  @media (min-width: 992px) {
    .border-top-lg {
      border-top: 1px solid #979797;
    }
  }

  img.how-to {
    height: 80px;
    @media (min-width: 576px) {
      height: 100px;
    }
  }

  .line-right::after {
    background-color: #000;
    content: "";
    height: 1px;
    position: absolute;
    right: -30%;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    z-index: 1;
  }

  .line-right::before {
    background-color: #000;
    border-radius: 50%;
    content: "";
    height: 4px;
    position: absolute;
    right: -30%;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    z-index: 1;
  }

  .line-left::after {
    background-color: #000;
    content: "";
    height: 1px;
    left: -70%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    z-index: 1;
  }

  .line-left::before {
    background-color: #000;
    border-radius: 50%;
    content: "";
    height: 4px;
    left: -70%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    z-index: 1;
  }

  .how-does-it-work {
    height: 365px;
    overflow: hidden;
  }

  .zoom {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.55);
    transform: scale(0.55);

    .margin-top {
      @media (min-width: 576px) {
        margin-top: 80px;
      }
    }

    .skin-layer-image {
      height: auto;
      top: -1rem;
      @media (min-width: 992px) {
        margin-left: 15%;
        max-width: 70%;
        top: -3rem;
      }
    }
  }

  .line-left.hidden-line-mobile {
    @media (max-width: 767px) {
      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }
  }

  .how-does-it-work.active {
    height: 500px;
    overflow: scroll;
  }

  .zoom.active {
    left: initial;
    top: initial;
    -webkit-transform: scale(0.85) translateX(0);
    transform: scale(0.85) translateX(0);
  }

  @media (min-width: 576px) {
    .how-does-it-work {
      height: auto;
    }

    .zoom {
      left: initial;
      margin: auto;
      position: relative;
      top: initial;
      transform: scale(1) translateX(0);
    }
  }

  .blog-content {
    max-height: 290px;
    overflow: hidden;
    position: relative;
  }

  .blog-content.expanded {
    max-height: none;
  }

  #magazine-row .card {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  #magazine-row .card-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 19rem;
    justify-content: center;
    padding: 0;
  }

  #magazine-row .card a {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  ol {
    line-height: 24px;
    padding-left: 1rem;
  }

  ul {
    line-height: 24px;
    padding-left: 1rem;
  }

  table {
    table-layout: fixed;
  }

  td {
    padding: 15px 0;
    text-align: center;
  }

  th {
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
  }

  @media (min-width: 992px) {
    th {
      font-size: 1.2rem;
      padding-bottom: 1rem;
      position: relative;
    }
  }

  tr:nth-child(even) td:nth-child(even) {
    background-color: #edeff2;
  }

  tr:nth-child(odd) td:nth-child(even) {
    background-color: #f6f7f9;
  }

  tr:nth-child(even) td:nth-child(odd) {
    background-color: #f6f7f9;
  }

  tr:nth-child(odd) td:nth-child(odd) {
    background-color: #edeff2;
  }

  td:first-of-type {
    font-size: 0.7rem;
    padding: 0 5px;
    text-align: right;
  }

  @media (min-width: 992px) {
    td:first-of-type {
      font-size: 1rem;
      padding-right: 1rem;
    }
  }

  #to-top {
    display: inline-block;
  }

  #to-top:hover {
    cursor: pointer;
  }

  #to-top::after {
    border: solid #470018;
    border-width: 0 3px 3px 0;
    bottom: -2px;
    content: "";
    display: block;
    padding: 7px;
    position: absolute;
    right: -30px;
    transform: rotate(-135deg);
  }

  table.w-100 tr td:last-child {
    background-color: transparent;
    display: none;
    @media (min-width: 992px) {
      display: block;
    }
  }

  .products {
    overflow: hidden;
  }

  .products .owl-carousel .owl-stage-outer {
    overflow: visible;
  }

  .owl-theme .owl-dots,
  .owl-theme .owl-nav {
    tap-highlight-color: transparent;
    text-align: center;
  }

  .owl-theme .owl-nav {
    margin-top: 10px;
  }

  .owl-theme .owl-nav [class*="owl-"] {
    background: #d6d6d6;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
  }

  .owl-theme .owl-nav [class*="owl-"]:hover {
    background: #869791;
    color: #fff;
    text-decoration: none;
  }

  .owl-theme .owl-nav .disabled {
    cursor: default;
    opacity: 0.5;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
  }

  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
  }

  .owl-theme .owl-dots .owl-dot span {
    backface-visibility: visible;
    background: #d6d6d6;
    border-radius: 30px;
    display: block;
    height: 10px;
    margin: 5px 7px;
    transition: opacity 0.2s ease;
    width: 10px;
  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
  }

  .owl-carousel,
  .owl-carousel .owl-item {
    position: relative;
    tap-highlight-color: transparent;
  }

  .owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
  }

  .owl-carousel .owl-stage {
    position: relative;
    touch-action: pan-Y;
  }

  .owl-carousel .owl-stage::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }

  .owl-carousel .owl-stage-outer {
    overflow: hidden;
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .owl-carousel .owl-item,
  .owl-carousel .owl-wrapper {
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
  }

  .owl-carousel .owl-item {
    backface-visibility: hidden;
    float: left;
    min-height: 1px;
    touch-callout: none;
  }

  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
  }

  .owl-carousel .owl-dots.disabled,
  .owl-carousel .owl-nav.disabled {
    display: none;
  }

  .no-js .owl-carousel,
  .owl-carousel.owl-loaded {
    display: block;
  }

  .owl-carousel .owl-dot,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    user-select: none;
  }

  .owl-carousel.owl-loading {
    display: block;
    opacity: 0;
  }

  .owl-carousel.owl-hidden {
    opacity: 0;
  }

  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden;
  }

  .owl-carousel.owl-drag .owl-item {
    user-select: none;
  }

  .owl-carousel.owl-grab {
    cursor: grab;
  }

  .owl-carousel.owl-rtl {
    direction: rtl;
  }

  .owl-carousel.owl-rtl .owl-item {
    float: right;
  }

  .owl-carousel .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .owl-carousel .owl-animated-in {
    z-index: 0;
  }

  .owl-carousel .owl-animated-out {
    z-index: 1;
  }

  .owl-carousel .fadeOut {
    animation-name: fadeOut;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .owl-height {
    transition: height 0.5s ease-in-out;
  }

  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
  }

  .owl-carousel .owl-video-wrapper {
    background: #000;
    height: 100%;
    position: relative;
  }

  .owl-carousel .owl-video-play-icon {
    backface-visibility: hidden;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    transition: transform 0.1s ease;
    width: 80px;
    z-index: 1;
  }

  .owl-carousel .owl-video-play-icon:hover {
    transform: scale(1.3, 1.3);
  }

  .owl-carousel .owl-video-playing .owl-video-play-icon,
  .owl-carousel .owl-video-playing .owl-video-tn {
    display: none;
  }

  .owl-carousel .owl-video-tn {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .owl-carousel .owl-video-frame {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  @media (min-width: 992px) {
    .hero {
      margin-bottom: -2rem;
    }
  }

  .block.widget.block-products-list.grid {
    width: 100%;
  }

  .actions-secondary {
    display: none;
  }

  .product-item-name {
    width: 100%;
    height: 19px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  a.product-item-link {
    white-space: nowrap;
  }

  .product-item .price-box {
    margin: 10px 0;
  }

  .product-item .price-box .price {
    font-size: 14px;
    font-family: @pricefont;
    color: @fontColor;
  }
  
  ol.product-items.widget-product-grid {
    justify-content: center;
    display: flex;
  }

  img.how-to {
    height: 120px;
  }

  .container.mt-5 {
    border-bottom: 1px solid @bordercolor;
  }
}

