/* Reset ================================================================================= */
 html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1; 
}
p + ul {
    margin-top: 20px;
}
ol, ul, li {
    list-style: none;
    margin: 0;
}
ul > li, ol > li{ margin: 0;}

blockquote, q {
    quotes: none; 
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
img {
     max-width: 100%;
     height: auto;
     border:0;
     vertical-align:middle;
}
a{ color:@links; text-decoration:none; cursor: pointer;}
a:visited, 
.alink:visited {color: @primarycolor;}
a:hover{ color:@linkshover; text-decoration:none;}
p{ line-height: 20px;}
a:focus,
a:active{ outline:none; text-decoration:none;}
:focus{ outline:none; }
h1            { font-size:40px; line-height:normal; font-weight:normal;
    font-family: @titlefont;}
h2            { font-size:32px; line-height:normal; font-weight:normal; margin-bottom:0.57em;}
h3            { font-size:24px; line-height:normal; font-weight:normal; margin-bottom:0.69em;}
h4            { font-size:18px; line-height:normal; font-weight:normal; margin-bottom:0.75em;}
h5            { font-size:14px; line-height:normal; font-weight:normal; margin-bottom:0.83em;}
h6            { font-size:14px; line-height:normal; font-weight:normal; margin-bottom:0.83em;}

h2,h3,
h4,h5,h6      {font-family: @pricefont; color: @darkcolor;}

ul {
    &+ h1, &+ h2, &+ h3, &+ h4, &+ h5, &+ h6 {
        margin-top: 20px;
    }
}

input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea
{
    border: 1px solid @bordercolor;
    background: @lightcolor;
    font-family: @bdf;
    height: 35px;
    line-height: 35px;
}
button, input, select, textarea{
        margin: 0;
    max-width: 100%;
    font-size: 13px;
}
.transition(){
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.buttonMixin() {
    background: @primarycolor;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: @lightcolor;
    display: inline-block;
    font-family: @bdf;
    font-size: 12px;
    font-weight: 600;
    padding: 18.5px 30px;
    line-height: 1.1;
    text-shadow: none;
    white-space: nowrap;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
    &:hover {
        color: @lightcolor;
        text-shadow: none;
    }
}
table {
    border-collapse: separate;
    border-color: @bordercolor;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin-bottom: 24px;
    width: 100%;
    
    th, td {
        border-bottom: 1px solid @bordercolor;
        border-right: 1px solid @bordercolor;
        padding: 10px;
    }
}
caption {
    padding: 10px;
}
.fontawersome{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.switcher-dropdown{
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.label{
    font-size: 13px;
    padding: 0;
    text-align: left;
}
.fieldset > .field:not(.choice) > .label{
    text-align: left;
}
._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus{
    box-shadow: none;
}
div.mage-error[generated]{ font-size: 0.75em;}
.message.info > *:first-child:before,
.message.success > *:first-child:before{ font-size: 24px;}
.message.info,
.page.messages{ font-size: 13px;}
.login-container .block .block-title{ font-size: 1rem; text-transform: uppercase;}