.lib-font-face(
  @family-name,
  @font-path,
  @font-weight: normal,
  @font-style: normal
) {
  @font-face {
    font-family: @family-name;
    src: url('@{font-path}.woff2') format('woff2'),
    url('@{font-path}.woff') format('woff');
    font-weight: @font-weight;
    font-style: @font-style;
  }
}

@baseDir: "../";

.lib-font-face(
  @family-name:'Beausite Classic',
  @font-path: '@{baseDir}fonts/BeausiteClassicWeb-Light',
  @font-weight: 300,
  @font-style: normal
);

.lib-font-face(
  @family-name:'Beausite Classic',
  @font-path: '@{baseDir}fonts/BeausiteClassic-Regular',
  @font-weight: 400,
  @font-style: normal
);

.lib-font-face(
  @family-name:'Beausite Slick',
  @font-path: '@{baseDir}fonts/BeausiteSlickWeb-Light',
  @font-weight: 300,
  @font-style: normal
);

.lib-font-face(
  @family-name:'Beausite Slick',
  @font-path: '@{baseDir}fonts/BeausiteSlickWeb-LightItalic',
  @font-weight: 300,
  @font-style: italic
);