/* Less Variables */
@bkg: #fff;
@menufont-weight: 500;
@menucolor: #a3a3a3;
@fontColor: #222222;
@bkgheader: #f5f5f5;
@bkgfooter: @bkgheader;
@maincolor:#470018;
@headericoncolor: #323232;
@headingcolor: #201f1f;
@bdf: "Beausite Classic",Arial,sans-serif;
@titlefont : "Beausite Slick","Helvetica Neue",Arial,sans-serif;
@pricefont : "Beausite Classic",Arial,sans-serif;
@pricecolor: #222222;
@fontOswald: 'Oswald', sans-serif;
@primarycolor: #470018;
@links: #373737;
@linkshover: #470018;
@bordercolor :#ebebeb;
@inputtext: #606060;
@bgmenu: #343333;
@salebg: #535353;
@greycolor: #8c8c8c;
@lightcolor: #fff;
@darkcolor: #222222;
@footer-color: #6c6c6c;
@detailproductbg: #f5f5f5;
.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;  
}