<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
$storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt()
?>
<a
    class="logo"
    href="<?= $block->escapeUrl($block->getUrl('')) ?>"
    title="<?= $block->escapeHtmlAttr($storeName) ?>"
    aria-label="store logo">
    <svg <?= $block->getLogoWidth() ? 'width="' . $block->escapeHtmlAttr($block->getLogoWidth()) . '"' : '' ?> <?= $block->getLogoHeight() ? 'height="' . $block->escapeHtmlAttr($block->getLogoHeight()) . '"' : '' ?> viewBox="0 0 650 102" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M133,65.4549026 L140.457002,65.4549026 C141.242003,77.2071387 147.717,84.2570758 159.687001,84.2570758 C169.889997,84.2570758 178.4265,79.0671904 178.4265,69.9595586 C178.4265,62.3207054 172.539499,58.6969153 162.238001,56.0533143 L153.604001,53.8009863 C142.223002,50.8634289 136.0415,46.260453 136.0415,35.879679 C136.0415,23.6378499 146.834503,16 159.980497,16 C173.619001,16 183.135498,22.9526205 184.5095,35.2917662 L177.249502,35.2917662 C176.267498,25.2049485 170.480004,18.7419209 159.980497,18.7419209 C150.170504,18.7419209 142.419001,24.7153556 142.419001,33.0394382 C142.419001,39.9930619 146.932,43.4202122 156.056499,45.7718634 L166.063497,48.3171445 C177.346999,51.1573853 185,55.5637214 185,66.9246845 C185,80.9282454 172.638001,87 159.687001,87 C144.479501,87 134.176998,79.6541 133,65.4549026" id="Fill-1" fill="#1A1919"></path>
            <polyline id="Fill-2" fill="#1A1919" points="225.695369 46.5666095 212.590636 86 207.603223 86 190 37 198.214503 37 212.395267 77.1173626 225.695369 37 230.390229 37 244.472808 77.0193666 257.674724 37 261 37 244.668177 86 239.582578 86 225.695369 46.5666095"></polyline>
            <path d="M269.278294,86 L276.721706,86 L276.721706,37.2339417 L269.278294,37.2339417 L269.278294,86 Z M269,26.5486397 L277,26.5486397 L277,18 L269,18 L269,26.5486397 Z" id="Fill-3" fill="#1A1919"></path>
            <path d="M288,71.2320671 L294.698965,71.2320671 C295.093616,79.0193161 299.723442,84.4703904 308.591471,84.4703904 C315.881908,84.4703904 321.792581,81.0633443 321.792581,74.6401103 C321.792581,69.4811824 317.655312,66.8538583 310.26596,65.1019766 L304.551098,63.7389587 C295.191522,61.5014956 290.264951,58.581028 290.264951,50.793779 C290.264951,41.6455063 298.936159,36 308.787282,36 C319.427706,36 326.719152,41.2556453 327.507444,49.2373262 L320.905375,49.2373262 C320.314913,42.8140922 316.275549,38.5306067 308.787282,38.5306067 C301.595761,38.5306067 296.275549,42.5219457 296.275549,47.9720229 C296.275549,52.5456607 299.230886,54.785118 306.029775,56.2448533 L311.940449,57.5101566 C322.385062,59.7486168 328,63.4468123 328,71.9140746 C328,81.9397838 318.245773,87 308.591471,87 C295.782993,87 288.886197,80.6744804 288,71.2320671" id="Fill-4" fill="#1A1919"></path>
            <path d="M336,71.2320671 L342.699975,71.2320671 C343.092607,79.0193161 347.724451,84.4703904 356.591471,84.4703904 C363.881908,84.4703904 369.793591,81.0633443 369.793591,74.6401103 C369.793591,69.4811824 365.655312,66.8538583 358.26596,65.1019766 L352.551098,63.7389587 C343.192531,61.5014956 338.26596,58.581028 338.26596,50.793779 C338.26596,41.6455063 346.936159,36 356.788292,36 C367.428716,36 374.719152,41.2556453 375.507444,49.2373262 L368.906384,49.2373262 C368.314913,42.8140922 364.276558,38.5306067 356.788292,38.5306067 C349.595761,38.5306067 344.275549,42.5219457 344.275549,47.9720229 C344.275549,52.5456607 347.231895,54.785118 354.029775,56.2448533 L359.940449,57.5101566 C370.385062,59.7486168 376,63.4468123 376,71.9140746 C376,81.9397838 366.246783,87 356.591471,87 C343.782993,87 336.887207,80.6744804 336,71.2320671" id="Fill-5" fill="#1A1919"></path>
            <path d="M408,51.3530218 C408,29.4166514 422.345344,16 439.987554,16 C454.913821,16 466.255242,24.2257627 468,38.0346903 L460.53637,38.0346903 C458.888929,25.4015883 451.425299,18.7419209 439.987554,18.7419209 C424.865659,18.7419209 417.305705,31.2767031 417.305705,51.3530218 C417.305705,71.5266572 424.478377,84.2570758 439.987554,84.2570758 C451.327982,84.2570758 458.888929,77.4027752 460.633687,65.3565827 L468,65.3565827 C466.157925,78.7742373 455.108456,87 439.987554,87 C421.570778,87 408,73.0937557 408,51.3530218" id="Fill-6" fill="#1A1919"></path>
            <polygon id="Fill-7" fill="#1A1919" points="480 86 488 86 488 18 480 18"></polygon>
            <path d="M505.279247,86 L512.720753,86 L512.720753,37.2339417 L505.279247,37.2339417 L505.279247,86 Z M505,26.5486397 L513,26.5486397 L513,18 L505,18 L505,26.5486397 Z" id="Fill-8" fill="#1A1919"></path>
            <path d="M537.717891,86 L530,86 L530,37.07237 L537.621035,37.07237 L537.621035,48.1834811 C539.647117,41.1661475 545.338926,36 553.442267,36 C563.283097,36 571,40.9714434 571,55.4943686 L571,86 L563.283097,86 L563.283097,53.9337407 C563.283097,43.2130362 558.748626,39.0214075 552.092204,39.0214075 C544.181588,39.0214075 537.717891,46.1375909 537.717891,61.2446282 L537.717891,86" id="Fill-9" fill="#1A1919"></path>
            <path d="M586.278327,86 L593.721673,86 L593.721673,37.2339417 L586.278327,37.2339417 L586.278327,86 Z M586,26.5486397 L594,26.5486397 L594,18 L586,18 L586,26.5486397 Z" id="Fill-10" fill="#1A1919"></path>
            <path d="M606,61.2572475 C606,45.4593552 616.705694,36 629.767848,36 C641.160759,36 649.017974,42.7291389 650,51.9926937 L643.223416,51.9926937 C642.633798,44.1916477 637.918866,38.5354149 629.767848,38.5354149 C619.750377,38.5354149 614.839241,47.2145655 614.839241,61.2572475 C614.839241,74.2260244 619.750377,84.0749824 631.142282,84.0749824 C639.785319,84.0749824 645.482278,78.7104521 646.856712,71.0073063 L650,71.0073063 C648.526961,80.0770587 641.749371,87 630.160256,87 C615.722662,87 606,76.6635391 606,61.2572475" id="Fill-11" fill="#1A1919"></path>
            <path d="M74.29004,92.928269 C81.1767992,86.6152399 85.5037629,77.5525047 85.5037629,67.4952375 C85.5037629,48.976952 70.8386642,33.8250823 52.5122883,33.0294567 L52.5122883,3.0525635 C78.2681679,3.85518579 98.9734243,25.0532103 98.9734243,51 C98.9734243,69.0055268 89.0011171,84.7241298 74.29004,92.928269 Z M3.0255762,51 C3.0255762,32.9944732 12.9988829,17.2768697 27.7089605,9.07273048 C20.8222013,15.3847601 16.4952375,24.4484948 16.4952375,34.5047625 C16.4952375,53.023048 31.1603363,68.1749177 49.4867121,68.9705433 L49.4867121,98.9474365 C23.7318321,98.1448142 3.0255762,76.9457902 3.0255762,51 Z M52.5122883,98.9344426 L52.5122883,36.0560325 C69.1694497,36.8486595 82.4781867,50.6461665 82.4781867,67.4952375 C82.4781867,84.3453081 69.1694497,98.1428151 52.5122883,98.9344426 Z M49.4867121,3.06455786 L49.4867121,65.9439675 C32.8295508,65.1523401 19.5218133,51.3538335 19.5218133,34.5047625 C19.5218133,17.6546919 32.8295508,3.85718485 49.4867121,3.06455786 Z M51,0 C22.8782338,0 0,22.8792333 0,51 C0,79.1207667 22.8782338,102 51,102 C79.1207667,102 102,79.1207667 102,51 C102,22.8792333 79.1207667,0 51,0 L51,0 Z" id="Fill-12" fill="#1A1919"></path>
        </g>
    </svg>
</a>
