<div id="mini-cart" data-block="minicart">
    <button id="mini-cart-toggle-button" class="nav-item nav-item--button button button--header">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><title>
                ionicons-v5-d</title>
            <path d="M68.4,192A20.38,20.38,0,0,0,48,212.2a17.87,17.87,0,0,0,.8,5.5L100.5,400a40.46,40.46,0,0,0,39.1,29.5H372.4A40.88,40.88,0,0,0,411.7,400l51.7-182.3.6-5.5A20.38,20.38,0,0,0,443.6,192H68.4ZM261.72,352.07A42.07,42.07,0,1,1,304,310,42.27,42.27,0,0,1,261.72,352.07Z"
                  style="fill:none;stroke:#000;stroke-linejoin:round;stroke-width:32px"/>
            <polyline points="160 192 256 64 352 192"
                      style="fill:none;stroke:#000;stroke-linejoin:round;stroke-width:32px"/>
        </svg>
    </button>
    <div class="modal-menu" class="nav-item">
        <div class="navigation-bar">
            <button class="modal-menu__close nav-item nav-item--button button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><title>
                        ionicons-v5-a</title>
                    <polyline points="244 400 100 256 244 112"
                              style="fill:none;stroke:#000;stroke-linecap:square;stroke-miterlimit:10;stroke-width:48px"/>
                    <line x1="120" y1="256" x2="412" y2="256"
                          style="fill:none;stroke:#000;stroke-linecap:square;stroke-miterlimit:10;stroke-width:48px"/>
                </svg>
            </button>
            <div class="nav-item nav-item--header">
                <?= __("Shopping Cart") ?>
            </div>
            <div class="nav-item"></div>
        </div>
        <div class="modal-menu__inner">
            <div class="mini-cart__inner" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            </div>
    </div>
    <script>
        window.checkout = <?= /* @noEscape */ $block->getSerializedConfig() ?>;
    </script>
    <script type="text/x-magento-init">
                {
                    "[data-block='minicart']": {
                        "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
                    }
                }
    </script>
</div>


