<?php $isCheckout = $block->getData('checkout'); ?>
<?php $helperCustom = $this->helper('EasyMart\PriceDecimal\Helper\Data'); ?>
<?php 
if($isCheckout && \Magento\Framework\App\ObjectManager::getInstance()
  ->get('Magento\Framework\App\Config\ScopeConfigInterface')
  ->getValue('swissclinic_checkout/swissclinic_checkout_config/disableDiscountCodeField')):
?>
<!-- DISABLED DISCOUNT FIELD -->
<style>
#checkout .block.coupon {
    display: none !important;
}
</style>
<?php
endif;
?>

<header id="header">
    <?= $block->getChildHtml("stripe-banner"); ?>
    <div class="navigation-bar">
        <div class="navigation-bar__container sc-container">
            <?php if (!$isCheckout) : ?>
            <button id="menu-toggle" class="nav-item nav-item--button button button--header">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                    <line x1="80" y1="160" x2="432" y2="160"
                          style="fill:none;stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/>
                    <line x1="80" y1="256" x2="432" y2="256"
                          style="fill:none;stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/>
                    <line x1="80" y1="352" x2="432" y2="352"
                          style="fill:none;stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px"/>
                </svg>
            </button>
            <div id="main-menu" class="modal-menu" data-mage-init='{ "swissclinic/header": {} }'>
                <div class="navigation-bar">
                    <button class="modal-menu__close nav-item nav-item--button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><title>
                                ionicons-v5-a</title>
                            <polyline points="244 400 100 256 244 112"
                                      style="fill:none;stroke:#000;stroke-linecap:square;stroke-miterlimit:10;stroke-width:48px"/>
                            <line x1="120" y1="256" x2="412" y2="256"
                                  style="fill:none;stroke:#000;stroke-linecap:square;stroke-miterlimit:10;stroke-width:48px"/>
                        </svg>
                    </button>
                    <!-- <div class="nav-item nav-item--header">Menu</div> -->

                    <div class="nav-item"></div>
                </div>
                <div class="nav-item nav-item--search">
                        <?php if ($helperCustom->isMobile() == true) { 
                            echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magento_Search::form.mini.mobile.phtml")->toHtml();
                            } 
                        ?>
                </div>
                <!-- <?= $block->getChildHtml("top.search"); ?> -->
                <?= $block->getChildHtml("top.navigation.sections"); ?>
            </div>
            <?php else : ?>
                <button class="nav-item nav-item--button nav-item--back-button button button--header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><title>
                            ionicons-v5-a</title>
                        <polyline points="244 400 100 256 244 112"
                                  style="fill:none;stroke:#000;stroke-linecap:square;stroke-miterlimit:10;stroke-width:48px"/>
                        <line x1="120" y1="256" x2="412" y2="256"
                              style="fill:none;stroke:#000;stroke-linecap:square;stroke-miterlimit:10;stroke-width:48px"/>
                    </svg>
                    <span><?= __('Continue shopping'); ?></span>
                </button>
            <?php endif; ?>
            <?= $block->getChildHtml("logo"); ?>
            <div class="nav-item nav-item--group">
                <?php if ($helperCustom->isMobile() != true) { 
                    echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magento_Search::form.mini.phtml")->toHtml();
                    } 
                ?>
                <?= $block->getChildHtml("minicart"); ?>
            </div>
        </div>
    </div>
    <script>
        require(['jquery', 'swissclinic/modal_menu'], function ($) {
            $('#main-menu').modalMenu({toggle: '#menu-toggle'});
            $('#header .nav-item--back-button').on('click', function() {
                window.history.back();
            })
        })
    </script>
</header>