// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

/*

.products.list.items.product-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 15px;
  grid-gap: 16px;
}

.product-image-wrapper {
  padding-bottom: 130%;
}

@media screen and (min-width: 768px) {

  .products.list.items.product-items {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }

  .li.item.product.product-item {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {

  .products.list.items.product-items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
  }

  .li.item.product.product-item {
    margin-bottom: 40px;
  }
}
*/
