 <?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Blog
 */
?>
<?php
/** @var \Amasty\Blog\Block\Content\Lists $block */

$collection = $block->getCollection();

?> 
<div class="test"><?php  //echo $this->getLayout()->createBlock("Amasty\Blog\Block\Content\Category")->setTemplate("Amasty_Blog::amp/list/categories.phtml")->toHtml();
?></div>   
<div class="amblog-container-list">
    <?php if ($collection && $collection->getSize()): ?>
        <?php foreach ($collection as $post): ?>
		<?php/*  echo "<pre>";
			print_r($post->getCategory());
			echo "</pre>"; */ 
		?>
            <div class="amblog-post-container">
                <div class="amblog-wrapper">
                    <?php $imageSrc = $post->getListThumbnailSrc(); ?>
                    <?php if ($imageSrc): ?>
                        <a href="<?= $block->escapeUrl($post->getUrl()); ?>"
                           title="<?= $block->escapeHtml($post->getTitle()); ?>">
                            <img src="<?= $block->escapeUrl($imageSrc); ?>"
                                 class="amblog-image"
                                 alt="<?= $block->escapeHtml($post->getThumbnailAlt()); ?>" />
                        </a>
                    <?php endif; ?>
                </div>
                <div class="amblog-tags">
                    <?= $block->getTagsHtml($post); ?>
                </div>
                <div class="amblog-content">
                    <h2 class="amblog-title">
                        <a href="<?= $block->escapeUrl($post->getUrl()); ?>"
                           class="amblog-headline"
                           title=" <?= $block->escapeHtml($post->getTitle()); ?>"
                        >
                            <?= $block->escapeHtml($post->getTitle()); ?>
                        </a>
                    </h2>
                    <!-- <div class="amblog-shot">
                        <?= /* @noEscape */ $post->getShortContent(); ?>
                    </div> -->
                    <div class="amblog-bottom">
                        <div class="amblog-date">
                           
                                <?php 
                                $date =  $post->getCreatedAt();
                                //echo $post->getPublishedAt();
                                
                                $dt = new DateTime($date);

                                echo $dt->format('d M Y');

                                $interval = $dt->diff(new DateTime());
                                ?>

                        </div>
                    </div>
                </div>
                <div class="amblog-footer">
                    <div class="amblog-features">
                        <?= $block->getCategoriesHtml($post); ?>
                        <?= $block->getAuthorHtml($post); ?>
                        <?= $block->getShortCommentsHtml($post); ?>
                        <?= $block->getAuthorPostsHtml($post); ?>
                    </div>
                    <div class="amblog-more">
                        <a class="amblog-read"
                           href="<?= $block->escapeUrl($block->getReadMoreUrl($post)); ?>"
                           title="<?= $block->escapeHtml(__("Read Article")); ?>">
                            <?= $block->escapeHtml(__("Read Article")); ?>
                            <span class="amblog-arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        <?php endforeach; ?>
        <?= $block->getToolbarHtml(); ?>
    <?php else: ?>
        <div class="message notice">
            <div><?= $block->escapeHtml(__('There are no posts yet.')); ?></div>
        </div>
    <?php endif; ?>
</div>
<div class="amblog-overlay" data-amblog-js="overlay"></div>

<script type="text/x-magento-init">
{
    "*": {
         "amBlogAccord": {}
    }
}
</script>

<style>
.amblog-index-index .desktop.two-columns-left section.content {
    width: 100% !important;
    padding-left: 0px !important; display: block !important;
}
.desktop.two-columns-left aside.left{
    width: 100%;
}
.desktop.two-columns-left section.content {
    width: 100%;
    padding: 0px;
}
.amblog-element-block {
    border: 0px;
    box-shadow: 0px;
}
.amblog-index-index .page-title-wrapper, 
.amblog-index-index .page-title, 
.amblog-index-post .page-title {
    margin-bottom: 0px;
}

.amblog-index-category .desktop.two-columns-left aside.left {
    width: 100% !important;
}
.amblog-index-category .desktop.two-columns-left section.content {
    width: 100% !important;
    padding-left: 0px !important;
}

.amblog-index-index .desktop.two-columns-left {
    display: block !important;
}
.amblog-index-index .desktop.two-columns-left aside.left{
    width: 100% !important;
}
.amblog-index-index .amblog-element-block {
    border: 0 !important;
    border-bottom: 0 !important;
    box-shadow: none;
}
.mobile-date .amblog-date {display:none;}
</style>