<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Blog
 */
?>
<?php
/** @var \Amasty\Blog\Block\Content\Post $block */
$post = $block->getPost();
$image = $post->getPostThumbnailSrc();
?>

<div class="amblog-post-container">
    <div class="blog-header">
        <div class="blog-left">
            <div class="blog-left-inner">
                <a href="<?php echo $block->getBaseUrl(); ?>magazine" ><span class="amblog-arrow">
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 31.494 31.494" style="enable-background:new 0 0 31.494 31.494;" xml:space="preserve">
<path style="fill:#1E201D;" d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554
    c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587
    c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg></span>Back to Article</a>
                <div class="amblog-date desktop-date">
				<?php /* echo "<pre>";
				print_r($post->getData());
				echo "</pre>"; */
				
				$date =  $post->getCreatedAt();
				//echo $post->getPublishedAt();
				
				$dt = new DateTime($date);

                echo $dt->format('d M Y');

                $interval = $dt->diff(new DateTime());
				?>
                   
                </div>
                <h2 class="amblog-title">
                    <?= $block->escapeHtml($post->getTitle()); ?>
                </h2>
                <div class="mobile-date">
                     <div class="amblog-date">
                    <?php /* echo "<pre>";
                    print_r($post->getData());
                    echo "</pre>"; */
                    
                    $date =  $post->getCreatedAt();
                    //echo $post->getPublishedAt();
                    
                    $dt = new DateTime($date);

                    echo $dt->format('d M Y');

                    $interval = $dt->diff(new DateTime());
                    ?>
                       
                    </div>
                    <div class="short-discription">
                        <?= substr($post->getShortContent(),0,500); ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-right">
            <?php if ($image) : ?>
                <div class="amblog-wrapper">
                <?php if ($block->hasThumbnailUrl()) : ?>
                    <a class="thumbnail-url"
                        title="<?= $block->escapeHtml($post->getTitle()); ?>"
                        href="<?= $block->escapeUrl($block->getThumbnailUrl()); ?>">
                <?php endif; ?>
                        <img src="<?= $block->escapeUrl($image); ?>"
                                class="amblog-image"
                                alt="<?= $block->escapeHtml($post->getThumbnailAlt('post')); ?>" />
                <?php if ($block->hasThumbnailUrl()) : ?>
                    </a>
                <?php endif; ?>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div class="amblog-tags">
        <?= $block->getTagsHtml($post); ?>
    </div>
    <div class="amblog-features -post">
        <?= $block->getCategoriesHtml($post); ?>
        <?= $block->getAuthorHtml($post); ?>
        <?= $block->getShortCommentsHtml($post); ?>
        <?= $block->getAuthorPostsHtml($post); ?>
    </div>
    <div class="amblog-content">
        
        <?= /* @noEscape */ $post->getFullContent(); ?>
        <div class="amblog-bottom">
            
            <?php if ($block->getShowPrintLink()) : ?>
                <div class="amblog-item -print">
                    <svg class="amblog-svg print <?= $block->escapeHtml($block->getColorClass()); ?>">
                        <use xlink:href="<?= $block->escapeUrl($block->getViewFileUrl('Amasty_Blog::images/sprite.svg')); ?>#print"></use>
                    </svg>
                    <a class="amblog-ref"
                       href="#"
                       onclick="window.print(); return false;"
                       title="<?= $block->escapeHtml(__('Print This Page')); ?>">
                        <?= $block->escapeHtml(__('Print')); ?>
                    </a>
                </div>
            <?php endif; ?>
        </div>
        <?php
        /* echo $this->getLayout()
        ->createBlock('Magento\Cms\Block\Block')
        ->setBlockId('block-speak')
        ->toHtml(); */
        ?> 
        <?php
        echo $this->getLayout()
        ->createBlock('Magento\Cms\Block\Block')
        ->setBlockId('testimonials')
        ->toHtml();
        ?>
    </div>

    <?php if ($block->getSettingHelper()->getSocialEnabled()) : ?>
        <?= $block->getSocialHtml(); ?>
    <?php endif; ?>
    <?php if ($block->getSettingHelper()->getHelpfulEnabled()) : ?>
        <?= $block->getHelpfulHtml(); ?>
    <?php endif; ?>
</div>

<?= $block->getChildHtml('amblog.post.related');?>

<?php if ($block->getUseCommentsGlobal() && $post->getCommentsEnabled()) : ?>
    <div class="amblog-comments-wrapper">
        <div class="amblog-title"><?= $block->escapeHtml(__('Comments')); ?></div>
        <div class="amblog-comments-container" id="comments">
            <?= $block->getChildHtml('amblog.comments.list') ?>
        </div>

        <div class="amblog-comments-action">
            <?= $block->getChildHtml('amblog.comments.form'); ?>
        </div>
    </div>
<?php endif; ?>
<div class="amblog-overlay" data-amblog-js="overlay"></div>

<script type="text/x-magento-init">
{
    "*": {
         "amBlogAccord": {}
    }
}
</script>
<script type="text/x-magento-init">
{
    "*": {
         "amBlogViewStatistic": {
            "update_url" :
            "<?= $block->escapeUrl($block->getUrl('amblog/index/view', ['post_id' => $block->getPost()->getPostId()])) ?>"
         }
    }
}
</script>
<?php foreach ($block->getJsonMicroData() as $microData) :?>
    <script type="application/ld+json"><?= /* @noEscape */$microData; ?></script>
<?php endforeach;?>

<style>
.amblog-post-container {
    border: 0;
}
.mobile-date {display:none;}
.amblog-post-container .amblog-content {
    padding: 50px 0 0;
    margin: 0px auto;
    width: 100%;
    max-width: 625px;
}
.amblog-post-container .amblog-title {
    font-size: 42px;
    line-height: 45px;
    color: #222222;
    font-weight: 300;
}
.main__content.sc-container {
    width: 100%;
    max-width: 100%;
}
.blog-header {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.blog-header .blog-left {
    width: 50%;
    padding: 0 15px;
    display: flex;
    justify-content: flex-end;
}
.blog-header .blog-right {
    width: 50%;
    padding: 0 15px;
}
.blog-right img{
    width: 100%;
}
.blog-right .amblog-wrapper {
    margin-right: -15px;
}
.amblog-post-container .amblog-tags {
    margin: 0px;
    padding: 0px;
}
.amblog-post-container .amblog-features.-post{
    display: none;
}
.blog-header .blog-left .blog-left-inner > a{
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: underline;
}
.blog-header .blog-left .blog-left-inner > a span {
    background: none;
    margin: 2px 15px 0 0;
    width: 20px;
    height: 18px;
}
.blog-left-inner {
    width: 100%;
    max-width: 515px;
    padding-top: 50px;
    padding-right: 100px;
}
.amblog-post-container .amblog-date {
    width: 78px;
    font-size: 19px;
    line-height: 20px;
    letter-spacing: 0.31px;
    color: #000;
    font-family: "Beausite Slick";
    font-weight: 300;
    margin: 70px 0 30px;
    border-bottom: 1px solid;
    padding-bottom: 15px;
}
.blog-left-inner .short-discription h3{
    font-size: 17px;
    line-height: 22px;
    color: #000;
    letter-spacing: 0.24px;
    font-family: "Beausite Classic",Arial,sans-serif;
}
.amblog-post-container .amblog-content > p {
    font-size: 15px;
    font-weight: 300;
    color: #000;
    line-height: 22px;
    letter-spacing: 0.21px;
    margin-bottom: 28px;
}
.customer-img {
    display: flex;
    flex-wrap: wrap;

}
.customer-img picture{
    width: 50%;
    margin-bottom: 20px;
}
.customer-img picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mobile-date .desktop-date{
    display: none;
}
ul.amblog-categories {
    display: flex;
    justify-content: center;
}
.page-title-wrapper {
    display: none;
}
@media only screen and (max-width: 767px) {
    .desktop-date {
        display: none;
    }
    .mobile-date .desktop-date{
        display: block;
    }
    .blog-header .blog-left {
        width: 100%;
    }
    .blog-header .blog-right {
        width: 100%;
    }
    .blog-left-inner {
        padding: 0px;
    }
    .amblog-post-container .amblog-title {
        font-size: 32px;
        line-height: 34px;
        margin-top: 50px;
    }
    .mobile-date {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 30px;
    }
    .amblog-post-container .mobile-date .amblog-date {
        font-size: 16px;
        line-height: 18px;
        width: 67px;
        margin: 0;
        padding-bottom: 10px;
        display: block;
    }
    .mobile-date .short-discription{
        width: calc(100% - 67px);
        padding-left: 40px;
    }
    .blog-left-inner .short-discription h3{
        font-size: 15px;
        line-height: 21px;
    }
    .customer-img {
        margin: 0 -15px;
    }
    .amblog-post-container .amblog-content .blog-left-inner .amblog-title{
        margin-top: 0px;
    }
    .amblog-post-container .amblog-content {
        padding: 20px 0 0;
    }
}
</style>