
<?php

$_product1 = $block->getProduct();

// print_r($_product1->getData());
?>


<div id="accordion">
  <?php if($_product1->getResource()->getAttribute('short_description')->getFrontend()->getValue($_product1)){ ?>
  <h3><?php echo $_product1->getResource()->getAttribute('short_description')->getStoreLabel(); ?></h3>
  <div>
    <p><?php echo $_product1->getResource()->getAttribute('short_description')->getFrontend()->getValue($_product1); ?></p>
  </div>
<?php } 
if($_product1->getResource()->getAttribute('p_details')->getFrontend()->getValue($_product1)){
?>
  <h3><?php echo $_product1->getResource()->getAttribute('p_details')->getStoreLabel(); ?></h3>
  <div>
    <p><?php echo $_product1->getResource()->getAttribute('p_details')->getFrontend()->getValue($_product1); ?></p>
  </div>
  <?php } 
if($_product1->getResource()->getAttribute('p_use')->getFrontend()->getValue($_product1)){
  ?>
  <h3><?php echo $_product1->getResource()->getAttribute('p_use')->getStoreLabel(); ?></h3>
  <div>
    <p><?php echo $_product1->getResource()->getAttribute('p_use')->getFrontend()->getValue($_product1); ?></p>
  </div> 
  <?php } ?>
</div>


<script>
 require(['jquery', 'jquery/ui'], function($){ 
  $( function() {
        jQuery('.review-control-vote input[type="radio"]').change(function() {
        if(this.checked) {
            jQuery(".review-form .review-field-nickname").show();
            jQuery(".review-form .review-field-summary").show();
            jQuery(".review-form .review-field-text").show();
            jQuery(".review-form .review-form-actions").show();
        }
        });
            jQuery(".review-form .review-field-nickname").hide();
            jQuery(".review-form .review-field-summary").hide();
            jQuery(".review-form .review-field-text").hide();
            jQuery(".review-form .review-form-actions").hide();

    $( "#accordion" ).accordion({
      heightStyle: "content"
    });
    $(".product-media").append($(".sub-title"));
    $(window).scroll(function() {
    if ($(document).scrollTop() > 650) {
      $(".custom-addto").addClass("sticky");
      $("#product-addtocart-button").addClass("sticky");
    } else {
      $(".custom-addto").removeClass("sticky");
      $("#product-addtocart-button").removeClass("sticky");
    }
    });
    //jQuery("<div class='sub-title'>Non-rinse formulation</div>").insertAfter(".page-title");
    // Select all links with hashes
    $('a[href*="#"]')
      // Remove links that don't actually link to anything
      .not('[href="#"]')
      .not('[href="#0"]')
      .click(function(event) {
        // On-page links
        if (
          location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
          && 
          location.hostname == this.hostname
        ) {
          // Figure out element to scroll to
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          // Does a scroll target exist?
          if (target.length) {
            // Only prevent default if animation is actually gonna happen
            event.preventDefault();
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000, function() {
              // Callback after animation
              // Must change focus!
              var $target = $(target);
              $target.focus();
              if ($target.is(":focus")) { // Checking if the target was focused
                return false;
              } else {
                $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                $target.focus(); // Set focus again
              };
            });
          }
        }
      });
  } );
 });
</script> 

<style type="text/css">
#review-form .review-legend strong{display: none;}
.page-layout-1column .view-product .product-info-main {
    text-align: left;
    padding: 40px 80px 0 80px;
}
.subtitle {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 14px;
}
.box-inner1 .page-title-wrapper.product {
    margin-bottom: 12px;
}
.product-view .product-info .box-inner1 .page-title span {
    margin-bottom: 4px;
}
.product-splash {
    background: #600613;
    color: white;
    padding: 0 20px;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    margin-left: 25px;
}

.view-product .product-info-main .ui-accordion-header {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 14px;
    padding: 8px 15px 8px 0;
    border-bottom: 1px solid #000000;
    cursor: pointer;
    font-family: "Beausite Classic", Arial, sans-serif;
    position: relative;
}

.view-product .product-info-main .ui-accordion-header::after {
    content: "+";
    position: absolute;
    right: 0;
    top: 8px;
    font-size: 19px;
}

.view-product .product-info-main .ui-accordion-header.ui-accordion-header-active::after {
    content: "-";
}

.product-view {
    padding-top: 20px;
}

.view-product .col-products {
    background: #fff;
    box-shadow: none;
    align-items: flex-start;
}

.view-product .rating-summary span {
    position: inherit;
}

.view-product .ui-accordion-content {
    padding: 8px 0;
    font-size: 13px;
    line-height: 18px;
    padding-top: 15px;
    padding-bottom: 25px;
    color: #333;
}

.detailed .data {
    background: #f6f6f6;
}

.product.data.items>.item.content {
    background: #f6f6f6;
}

.view-product .box-tocart {
    width: 100%;
}

.product-view .box-tocart .actions, .product-options-bottom .box-tocart .actions {
    width: calc(100% - 150px);
}

.product-view .box-tocart .action.tocart, .product-options-bottom .box-tocart .action.tocart {
    width: 100%;
    background: #222222;
    text-transform: uppercase;
    font-weight: 300;
}

.product-view__usps {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 13px;
    color: #6D7278;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-view__usps span+span::before {
    content: "|";
    margin: 0 8px;
    display: inline;
}

.product-view .product-info-main .page-title-wrapper .page-title {
    text-align: left;
    margin-bottom: -5px;
}

.product-view .box-inner1 {
    display: inline-block;
    width: 100%;
}
.product.info.detailed {
  width: 100%;
  padding: 0px;
}
.product.info.detailed .product.data.items .item.title {
    width: 50%;
    margin: 0;
    float: left;
    padding: 0px;
    height: 70px;
}

.product.info.detailed .product.data.items .item.title a {
    display: flex;
    height: 100%;
    color: #333333;
    text-decoration: none;
    background: #e1e6e2;
    transition: opacity 0.3s ease;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: normal;
    font-family: "Beausite Classic", Arial, sans-serif;
}

.product.info.detailed .product.data.items .item.title.active a {
    text-decoration: underline;
    background: transparent;
}

.product .description h4 {
    margin: 1rem 0;
    font-size: 22px;
    line-height: 22px;
}

.catalog-product-view [itemprop="description"] {
    margin-bottom: 0px;
}

.product .content p {
    max-width: 465px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}
.product .content .value {
    column-count: 2;
}
.review-item {
    padding: 30px 0 20px;
}

.product .content li {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}

.review-item {
    border-bottom: 1px solid #979797 !important;
}

.product-media {
    background: #Fff;
}

.detail-page-first {
    display: flex;
    justify-content: space-between;
}

.detail-page-second {
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0 25px;
}

.product-view .product-info-main .price-box {
    width: auto;
    height: auto;
}

.product-view .product-info-main .price-box span {
    line-height: normal;
}

.product-view .product-info-stock-sku {
    margin-top: 0px;
    font-size: 16px;
    margin-right: 10px;
}

.product-view .product-info-main .stock {
    margin: 0;
}

.product-view .product-info-main .price-box .special-price .price-container .price {
    color: #600613;
}

.product.description[data-readmore] {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.product-view .product-info-main .price-box .special-price .price-container .price, .product-view .product-info-main .price-box .old-price .price-container .price {
    line-height: normal !important;
}

.fotorama__stage {
    background: #f6f6f6;
}

.detail-page-second .stock span {
    font-size: 16px;
    margin-left: 10px;
}

.stock.available span {
    color: #789774;
}

.product-view .product-info-stock-sku .attribute.sku .value {
    font-size: 16px;
}

.product-view .product-info .box-inner1 .page-title span {
    font-size: 24px;
    font-family: Beausite Slick, serif;
    text-transform: capitalize;
}

.product.info.detailed .product.data.items .item.content {
    padding: 60px 30px 0;
}

.product-view .product-info-main .box-tocart .fieldset .qty .qty-up i, .product-view .product-info-main .box-tocart .fieldset .qty .qty-down i {
    font-size: 8px;
}

.um-descr-show-button, .um-descr-hide-button {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background: no-repeat;
    box-shadow: none;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Beausite Classic, sans-serif;
    color: #333333 !important;
    transition: opacity 0.3s ease;
}

.um-descr-show-button:hover, .um-descr-hide-button:hover {
    opacity: 0.6;
}

[data-readmore]:before {
    display: none;
}

.review-ratings~.review-content, .review-ratings~.review-details {
    margin-left: 0px;
}

.review-title {
    margin: 10px 0 10px;
    font-size: 22px;
    font-family: Beausite Slick, serif;
    clear: both;
}

.review-ratings~.review-content {
    font-weight: 300;
    font-size: 12px;
    color: #333333;
}

.review-details {
    display: flex;
    flex-wrap: wrap;
}

.review-details p {
    margin: 0 10px;
}

.review-list .block-title {
    text-align: left;
    width: 70%;
    margin: auto;
    padding: 0px;
}

.review-list .block-title strong {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    margin: 0px;
}

.review-list .block-title strong::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid;
}

.review-list .review-ratings .rating-label, .toolbar-amount {
    display: none;
}

.review-list .block-content {
    width: 70%;
}

.product-view .product-info-main .price-box .special-price .price-container .price, .product-view .product-info-main .price-box .old-price .price-container .price {
    font-size: 16px;
    text-transform: capitalize;
}

.product-view .product-info-stock-sku .attribute.sku .type {
    display: none;
}

.rating-result+div {
    text-decoration: underline;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Beausite Classic, sans-serif;
    letter-spacing: 1px;
    text-align: right;
}

.product-info-stock-sku {
    display: none;
}

.product-view .product-info-main .box-tocart .fieldset .qty, #quick-window .box-tocart .fieldset .qty {
    background: #f6f6f6;
}

.slick-list {
    width: 100%;
    max-width: 615px;
    margin: auto;
}

.yereone-testimonials .yereone-testimonial-item .yereone-testimonial-image .round-imge {
    width: 86px;
    border-radius: 0;
}

.slick-dots li button::before {
    display: none;
}

.slick-dots li button {
    font-size: 0px;
    width: 9px;
    height: 9px;
    background: white;
    border: 1px solid black;
    border-radius: 100%;
    padding: 0;
    margin: 0;
}

.slick-dots li.slick-active button {
    background: black;
}

.slick-dots li {
    width: auto;
}

.yereone-testimonial-content span {
    padding: 0 5px;
    text-align: center;
    font-family: 'Beausite Slick', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    font-style: italic;
    color: #333333;
}

.product-view .box-tocart .action.tocart:before, .product-options-bottom .box-tocart .action.tocart:before {
    display: none;
}

.product-view .product-info-main .stock span::before {
    display: none;
}

.fotorama__caption {
    display: none;
}

.product-items__splashes .product-splash {
    margin-top: 10px;
}

.product-view .product-info-main .price-box .price-wrapper .price {
    font-size: 16px;
}
.fieldset .review-legend.legend {
    text-align: center;
    color: #000;
    font-size: 16px;
    margin-bottom: 0px;
}
.review-field-ratings .label{
    display: none !important;
}
.fieldset>.field:not(.choice)>.control {
    width: 100%;
}
.fieldset .review-field-text textarea{
    height: 143px;
    border: 1px solid #979797;
}
.fieldset .field  input[type="text"] {
    border: 1px solid #979797;
    height: 48px;
    background: #fff;
}
.fieldset>.field:not(.choice)>.label {
    text-transform: uppercase;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0.63px;
    padding: 0;
}
.review-field-ratings {
    text-align: center;
}
.fieldset>.field {
    margin-bottom: 10px;
}
.actions-toolbar .primary {
    float: right;
}
.fieldset {
    margin: 0 0 20px;
}
.review-field-ratings .nested {
    display: flex;
    justify-content: center;
}
.review-field-ratings .review-field-rating {
    display: flex;
    width: 100%;
    justify-content: center;
}
.review-field-ratings .review-field-rating .control {
    width: 100px;
    margin-bottom: 30px;
}
.review-form .action.submit.primary, .primary .action.primary {
    background: #222222;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: normal;
}
.pager {
    margin: 0px;
}
.sub-title {
    font-size: 0px;
}
@media only screen and (max-width: 767px) {
    .sub-title {
        font-size: 0
    }
    .product-items__splashes .product-splash {
        margin-left: 10px;
    }
    .product.info.detailed {
        width: 100%;
    }
    #product_addtocart_form button#product-addtocart-button.sticky {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
    }
    .product-view {
        padding-top: 0px;
    }
    .fotorama__caption, .fotorama__arr {
        display: none !important;
    }
    .fotorama__nav-wrap {
      margin: 0px;
    }
    .fotorama__nav__shaft {
      width: 100%;
      display: flex;
    }
    .fotorama__nav--dots .fotorama__nav__frame {
      width: 100%;
          height: auto;
    }
    .fotorama__dot {
      left: 0;
      top: 0;
      width: 100%;
      border: 0;
      border-radius: 0;
      background: #e3e3e3;
    }
    .fotorama__active .fotorama__dot {
      background: #979797;
    }
    .product-media {
        margin: 0 -15px;
    }
    .page-layout-1column .view-product .product-info-main {
        padding: 0;
    }
    .review-list .block-content {
        width: 100%;
    }
    .review-list .block-title {
        width: 100%;
    }
    .product-view__usps {
        display: none;
    }
    .review-list .block-title strong {
        width: 100%;
    }
    .detailed.container {
        padding: 0px;
    }
    .product-view .box-tocart .field.qty {
        display: none;
    }
    .product-view .product-info .box-inner1 .page-title span {
        font-size: 17px !important;
        font-family: Beausite Classic, sans-serif;
        text-transform: uppercase;
    }
    .review-details p.review-date {
        display: none;
    }
    .review-ratings, .review-details {
        display: inline-block;
    }
    .review-title {
        font-size: 18px;
        margin: 5px 0 15px;
    }
    .review-ratings~.review-content {
        line-height: 16px;
    }
    .product.data.items>.item.content {
        float: right;
        margin-left: -100%;
        width: 100%;
    }
    .product.info.detailed .product.data.items .item.content {
        padding: 60px 20px 0;
    }
    .product.info.detailed .product.data.items .item.title {
        height: 50px;
    }
    .product .description h4 {
        font-size: 18px;
    }
    .product-view .box-tocart .actions, .product-options-bottom .box-tocart .actions {
        width: 100%;
    }
    .product-view .product-info-main .price-box .price-wrapper .price {
        color: #333333;
        font-size: 18px;
    }
    .review-details p {
        font-size: 11px;
        display: inline-block;
        margin: 0 22px;
    }
    .rating-result+div a span {
        display: none;
    }
    .product .content .value {
        column-count: 1;
    }
}


#accordion ul {
    padding-left: 20px;
}

#accordion li {
    margin-bottom: 10px;
}
.product-info ul>li:before, 
.product.attribute.description ul>li:before, 
.product-info ol>li:before, .product.attribute.description ol>li:before {
    content: "—";
    position: relative;
    left: -20px;
    margin-right: -12px;
}
.product-view .product-info-main .box-tocart .fieldset .qty {
    margin-left: -10px;
}

@media only screen and (max-width: 767px) {
    .box-inner1 .page-title-wrapper.product {
        width: 100%;
        margin-right: -100px;
    }

    .product-view .product-info-main .page-title-wrapper .page-title {
        max-width: calc(100% - 100px);
    }
    
    body.catalog-product-view {
        overflow-x: hidden;
        max-width: 100vw;
    }
}

</style>