<div class="sub-title"><div class="subtitle"><?php /* @escapeNotVerified */ echo $block->getProduct()->getResource()->getAttribute('product_sub_title')->getFrontend()->getValue($block->getProduct()); ?>
</div>
<div class="product-items__splashes">
<?php 
$blockObj = $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Price');

$_product = $blockObj->getProduct();
 $finalPrice = $_product->getFinalPrice();
                            $originalPrice = $_product->getPrice();

                            if ( $finalPrice < $originalPrice ):
                                $percentage = floor((($originalPrice - $finalPrice) / $originalPrice) * 100 )

?>
<div class="product-splash">
                               <?= "-{$percentage}%" ?>
                            </div>
                            <?php endif; ?>


</div>
</div>