
<?php  
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
/** @var \Magento\Catalog\Model\ResourceModel\Product\Collection $productCollection */
$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
/** Apply filters here */
$collection = $productCollection->addAttributeToSelect('*')
            ->load();

foreach ($collection as $product){ ?>
    <div class="product-items__splashes">
                            <?php
                            $finalPrice = $product->getFinalPrice();
                            $originalPrice = $product->getPrice();

                            if ( $finalPrice < $originalPrice ):
                                $percentage = floor((($originalPrice - $finalPrice) / $originalPrice) * 100 )
                            ?>
                            <div class="product-splash">
                               <?= "-{$percentage}%" ?>
                            </div>
                            <?php endif; ?>
                            
                        </div>
<?php }  

?>