
.contact-index-index .fieldset > h3,
.contact-index-index .page-title{
    display: none;
}
.contact-index-index .fieldset {
    margin: 0px;
}
.contact-index-index .fieldset .field {
    margin-bottom: 15px;
}
.contact-index-index input[type="email"], .contact-index-index textarea {
    border: 1px solid #c3c3c3;
    padding: 10px 16px 8px;
    height: 48px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f6f6f6;
}
.contact-index-index textarea {
    height: 90px;
    padding: 5px 16px;
}

.product-view .product-info .box-inner1 .page-title span{
    font-size: 24px !important;
}
.box-inner1 .product-add-form {
    margin-top: 15px;
    clear: both;
    width: 100%;
    display: inherit;
}
.box-inner1 .page-title-wrapper {
    float: left;
    width: calc(100% - 100px);
}
.product-view .product-info-main .box-inner1 .product-reviews-summary {
    float: right;
}
.product-view .product-info-main .box-inner1 .price-box.price-final_price {
    display: table;
    clear: both;
    width: auto;
    float: left;
    padding-right: 10px;
}
.box-inner1 .stock {
    display: inline-block;
}
.mycustomcontainer{
    clear: both;
}
.product-view .product-info-main .stock {
    line-height: 18px;
    font-size: 0;
}
.product-view .product-info-main .stock span {
    font-size: 16px;
    position: relative;
    padding-right: 30px;
    display: inline-block;
}
.fotorama__nav.fotorama__nav--thumbs {
    display: flex;
    justify-content: center;
}
.product-view .product-info-main .stock.available span::after {
    content: "";
    width: 22px;
    height: 22px;
    background: url(../images/check-mark@2x.jpg) no-repeat center center / 22px auto;
    display: inline-block;
    position: absolute;
    right: 0;
    top: -2px;
}
.amblog-grid-list > .amblog-item, .amblog-grid-list .slick-slide .amblog-item {
    width:31% !important;
}

.top-search__button i.ion-ios-search-strong {
    background-image: url(../images/search.png);
    width: 22px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
}
.top-search__button i.ion-ios-search-strong:before {
    display: none;
}
.top-search__button span {
    display: none;
}
.search-content .actions {
    display: block;
}
form#search_mini_form {
    width: 100%;
}
.top-search__search-form {
    max-width: 350px;
    right: 0;
    left: auto;
    width: 100%;
}
.search-content .actions button.search {
    background-image: url(../images/search.png);
    background-color: transparent;
    background-size: contain;
    font-size: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 10px;
    top: 16px;
    cursor: pointer;
}
.navigation-bar__container {
    position: relative;
}
form#search_mini_form #search {
    padding: 10px 40px 10px 15px;
}
.top-search__search-form .container {
    width: 100%;
}
.navigation-bar #menu-toggle.nav-item {
    background: url(../images/menu-search.jpg) no-repeat center center;
    -ms-flex: 0 1 54px;
    flex: 0 1 54px;
}
.navigation-bar #menu-toggle.nav-item svg {
    display: none;
}
#authenticationPopup + p{
    margin: 0px;
}
@media only screen and (max-width: 767px) {
    .amblog-grid-list > .amblog-item, .amblog-grid-list .slick-slide .amblog-item {
        width:100% !important;
    }
    .top-search {
        width: 100%;
        position: relative;
        margin: 20px 0;
    }
    .top-search__search-form {
        position: inherit;
        display: block;
    }
    form#search_mini_form #search {
        border: 1px solid #c3c3c3;
    }
    .navigation-bar .modal-menu__close {
        background: url(../images/Menu-close.jpg) no-repeat center center !important;
        -ms-flex: 0 1 54px;
        flex: 0 1 54px;
    }
    .navigation-bar .modal-menu__close svg{
        display: none;
    }
}

@media (max-width: 576px) {
    .top-search__search-form {max-width: 100%;}
    .top-search__search-form .container {max-width: 100%;}
}