@import 'source/_variables_themes.less';
@import 'source/_homepage4.less';
@import 'source/_microneedling.less';

.owl-item > li.item {
  max-width: 100%;
}

.embed-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.embed-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.amfaq-product-tab .block-title strong {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  font-family: @bdf;
}

.ask-question-form .button-container .button-info {
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  font-family: @bdf;
}

.swatch-option.text {
    height: inherit;
}

.ampromo-gallery .image-container {
    min-height: 250px;
    line-height: 250px;
    text-align: center;
    img {
        display: inline-block;
        vertical-align: middle;
    }
}

.filter-content .filter-options .filter-options-item .filter-options-title {
  padding-top: 8px;

  &:after {
    background: none;
    top: 11px;
  }
}

.filter-content .filter-options .filter-options-item.active .filter-options-title:after {
  background: none;
  top: 16px;
}

.navigation .level0 > .level-top {
  color: @fontColor;
  font-size: 14px;
}

.product-info .productalert-button {
  font-size: 12px;
  font-weight: 400;
  color: @lightcolor;
  background-color: @darkcolor;
  padding: 0px 15px;
  border: 0;
  display: inline-block;
  font-family: @bdf;
  border-radius: 0;
  line-height: 1;
  height: 32px; line-height: 32px;
  text-transform: none;
  margin-bottom: 15px;
  &:hover{
    background: @maincolor;
  }
}

.rating-summary .rating-result span:before {
  color: @maincolor;
}

.fotorama__thumb-border{
  border-color: @maincolor;
}

.label a {
  vertical-align: baseline;
}

@media (max-width: 767px) {
  #close-menu a {
    color: @fontColor;
    position: relative;
    right: 15px;
  }

  .nav-open .nav-sections {
    background: @bkg;
    width: calc(~'100% - 54px');
  }

  .navigation .level0 > .level-top {
    color: @fontColor;
  }

  .navigation .submenu:not(:first-child) ul > li a {
    color: @fontColor;
  }

  .custommenu.navigation li.level0.fullwidth .submenu li.level1 > a span, .custommenu.navigation li.level0.staticwidth .submenu li.level1 > a span {
    color: #222 !important;
    font-family: "Beausite Classic";
  }

  .custommenu.navigation li.level0.fullwidth .submenu a, .custommenu.navigation li.level0.staticwidth .submenu a {
    padding-left: 15px !important;
    /* color: #222 !important; */
  }

  .navigation .level0:first-child > .level-top, .custommenu.navigation li.ui-menu-item > a {
    padding-left: 30px;
    text-transform: none;
  }

  .custommenu.navigation li.ui-menu-item > .open-children-toggle {
    right: 0;
    left: 0;
    width: auto;
  }

  .setting-container {
    text-align: left;
    padding: 0px 30px;
    display: block;
  }
}

@media (min-width: 768px) {
  .setting-container {
    display: none;
  }
}

.embed-video {
  width: 100%;
  padding-top: 56.25%;
  height: 0px;
  position: relative;
}

.embed-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}



