<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Gdpr
 */
?>
<?php /** @var \Amasty\Gdpr\Block\Checkbox $block */ ?>
<div class="field choice gdpr required newsletter" id="amprivacy-checkbox" data-role="amasty-gdpr-consent">
    <input type="checkbox"
           name="amgdpr_agree"
           title="<?= $block->escapeQuote(__('Accept privacy policy')) ?>"
           value="1"
           id="amgdpr_agree"
           class="checkbox"
           data-validate="{required:true}">
    <label for="amgdpr_agree" class="label"><?= $block->getConsentText() ?></label>
</div>
