<div class="product" data-role="product-item">
    <!-- ko if: product_has_url -->
    <a class="product-item__image" data-bind="attr: {href: product_url, title: product_name}">
        <!-- ko foreach: $parent.getRegion('itemImage') -->
        <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
        <!-- /ko -->
    </a>
    <!-- /ko -->

    <!-- ko ifnot: product_has_url -->
    <div class="product-item__image">
        <!-- ko foreach: $parent.getRegion('itemImage') -->
        <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- /ko -->

    <div class="product-item__details">
        <div class="product-item__name">
            <!-- ko if: product_has_url -->
                <a class="product-item__link" data-bind="attr: {href: product_url}, html: product_name"></a>
            <!-- /ko -->
            <!-- ko ifnot: product_has_url -->
            <!-- ko text: product_name --><!-- /ko -->
            <!-- /ko -->
        </div>
        <div class="price" data-bind=" html: item.product_price" />
    </div>

    <div class="product-item__qty">
        <span data-bind=" text: qty"></span>
    </div>
    <div class="product-item__remove">
        <a href="#" data-bind="attr: {'data-cart-item': item_id, title: $t('Remove item')}"
           class="action delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><title>ionicons-v5-l</title><line x1="368" y1="368" x2="144" y2="144" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="368" y1="144" x2="144" y2="368" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
        </a>
    </div>
</div>