<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Catalog\Block\Product\AbstractProduct */
?>
<?php
switch ($type = $block->getType()) {



    case 'upsell':
        /** @var \Magento\Catalog\Block\Product\ProductList\Upsell $block */
        if ($exist = count($block->getItemCollection()->getItems())) {
            $type = 'upsell';
            $class = $type;

            $image = 'upsell_products_list';
            $title = __('upsell products');
            $items = $block->getItemCollection()->getItems();
            $limit = $block->getItemLimit('upsell');
            $shuffle = 0;

            $mode = 'list';
            $showWishlist = true;
            $showCompare = true;
            $showCart = true;
            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
            $description = false;
            $canItemsAddToCart = false;
        }
        break;

    case 'other':
        break;
}
?>
<?php if ($exist):?>
    <div class="block block-products <?= /* @noEscape */ $mode ?>">
        <?php if ($title) : ?>
            <div class="block-title"><?= __($title) ?></div>
        <?php endif ?>
        <div class="block-content">
            <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
            <div class="<?= /* @noEscape */ $mode ?> product-<?= /* @noEscape */ $mode ?>-wrapper <?= /* @noEscape */ ($mode = 'list') ? 'product-list-wrapper--mobile-horizontal-scroll' : '' ?>">
                <div class="product-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ ($mode = 'list') ? 'product-list--horizontal' : '' ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item) : ?>
                        <?= /* @noEscape */ ($iterator++ == 1) ? '<div class="product-item">' : '</div><div class="product-item">' ?>
                        <div class="product-item__image-wrapper">
                            <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item__image-link">
                                <?= $block->getImage($_item, $image)->toHtml() ?>
                            </a>
                            <div class="product-items__splashes">
                                <?php
                                $finalPrice = $_item->getFinalPrice();
                                $originalPrice = $_item->getPrice();

                                if ( $finalPrice < $originalPrice ):
                                    $percentage = floor((($originalPrice - $finalPrice) / $originalPrice) * 100 )
                                    ?>
                                    <div class="product-splash">
                                        <?= "-{$percentage}%" ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                        <div class="product-item__details">

                            <?php if ($templateType) : ?>
                                <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                            <?php endif; ?>

                            <div class="product-item__name">
                                <a title="<?= $block->escapeHtmlAttr($_item->getName()) ?>"
                                   href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                   class="product-item__link">
                                    <?= $block->escapeHtml($_item->getName()) ?>
                                </a>
                            </div>


                            <?= $block->getProductDetailsHtml($_item) ?>

                            <?= $block->getProductPriceHtml($_item, $type) ?>

                        </div>
                        <?= ($iterator == count($items) + 1) ? '</div>' : '' ?>
                    <?php endforeach ?>
                </div>
            </div>
        </div>
    </div>

<?php endif;?>
