<?php
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="product-<?= /* @escapeNotVerified */ $viewMode ?>">
        <?php $iterator = 1; ?>
        <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
        <?php foreach ($_productCollection as $_product): ?>
            <?= /* @escapeNotVerified */ ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
            <div class="product-item" data-container="product-<?= /* @escapeNotVerified */ $viewMode ?>">
                <div class="product-item__info">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <div class="product-item__image-wrapper">
                        <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product-item__image-link" tabindex="-1">
                            <?php echo $productImage->toHtml(); ?>
                        </a>
                        <div class="product-items__splashes">
                            <?php
                            $finalPrice = $_product->getFinalPrice();
                            $originalPrice = $_product->getPrice();

                            if ( $finalPrice < $originalPrice ):
                                $percentage = floor((($originalPrice - $finalPrice) / $originalPrice) * 100 )
                            ?>
                            <div class="product-splash">
                               <?= "-{$percentage}%" ?>
                            </div>
                            <?php endif; ?>
                            <?php $todayDate = time();
                            $timeStartNew = strtotime($_product->getData('news_from_date'));
                            $timeEndNew = strtotime($_product->getData('news_to_date')); ?>
                            <?php if ( $timeEndNew >= $todayDate && $timeStartNew <= $todayDate): ?>
                            <div class="product-splash">
                                <div><?php echo __('New') ?></div>
                            </div>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="product-item__details">
                        <div class="product details product-item-details">
                            <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                            
                            ?><?php //echo $_product->getSku();?>
                            <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
							<?php //echo "test";?>
							<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                  $rules = $objectManager->create('Magento\SalesRule\Model\RuleFactory')->create();
                                  $rules=$rules->getCollection();
                                  $objDate = $objectManager->create('Magento\Framework\Stdlib\DateTime\DateTime');
                                  $_currentTime = strtotime($objDate->date());
                                  foreach ($rules as $rule) {
                                        $fromDate = $rule->getFromDate();
                                        $toDate = $rule->getToDate();
                                        if (isset($fromDate) && $_currentTime >= strtotime($fromDate)) {
                                            if (isset($toDate)) {
                                                if (strtotime($toDate) >= $_currentTime) {



                                                $product = $objectManager->get('Magento\Catalog\Model\Product')->load($_product->getId());
                                                $item = $objectManager->create('Magento\Catalog\Model\Product');
                                                $item->setProduct($product);
                                                if ($rule->getActions()->validate($item)) {
                                                    $product_label=$rule->getName();
                                                    break;
                                                }

                                                }
                                            }
                                        }
                                    }

                        if($product_label)
                            //echo '<div class="product-labels">'.$product_label.'</div>';
					?>
							
                            <div class="product-item__name">
                                <a class="product-item__link"
                                   href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                                    <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                </a>
                            </div>
                            <div class="price-box price-final_price">
                                <?= /* @escapeNotVerified */ $block->getProductPrice($_product) ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?= ($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
        <?php endforeach; ?>
    </div>
    <?= $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>

<style type="text/css">
    .toolbar-products .toolbar-sorter .sorter-label {
        padding: 0px;
    }
</style>