<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Blog
 */
?>
<?php
$categories = $block->getCategories();
$categoriesCount = $categories->count();
$categoryNumber = 0;
?>
<?php if ($categoriesCount): ?>
    <div class="amblog-category">
        <?php foreach ($categories as $key => $category): ?>
        <?php $categoryNumber++; ?>
            <a class="amblog-ref"
               href="<?= $block->escapeUrl($category->getUrl()); ?>"
               title="<?= $block->escapeHtml($category->getName()); ?>"><?= $block->escapeHtml($category->getName()); ?></a><?= $categoriesCount > $categoryNumber ? ',' : ''; ?>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
<style>

 article.desktop.two-columns-left {    display: inline-block;}
 .amblog-element-block {    border: none !important;  box-shadow: none !important;}

.desktop.two-columns-left aside.left {
    width: 100% !important;
    display: block;
}
 .desktop.two-columns-left section.content {
    width: 100% !important;
    padding-left: 0px !important; 
    display: block;
}
.amblog-grid-list>.amblog-item .amblog-content {
	width: 100%;
}
 .desktop.two-columns-left aside.left {
    width: 100% !important;
}
 .desktop.two-columns-left section.content {
    width: 100% !important;
    padding-left: 0px !important; 
}
.amblog-categories {
	display: flex;
}
.amblog-categories li a.amblog-link{
	font-size: 16px;
	font-weight: normal;
	color: #222222;
	white-space: nowrap;
	border-bottom: 2px solid #fff;
}
.amblog-categories li a.amblog-link.active {
	border-bottom: 2px solid;
}
.amblog-list {
	overflow: auto;
}
.amblog-categories li {
	margin: 0 5px;
}
.amblog-categories li a.amblog-link:hover {
	color: #470018 !important;
}
.page-title-wrapper .page-title .base {
	margin: 0px;
	display: block;
}
.amblog-element-block .amblog-categories.-level1>.amblog-category>.amblog-link, .amblog-post-container .amblog-widget-container .amblog-categories.-level1>.amblog-category>.amblog-link, .amblog-grid-list>.amblog-item .amblog-widget-container .amblog-categories.-level1>.amblog-category>.amblog-link, .amblog-grid-list .slick-slide .amblog-item .amblog-widget-container .amblog-categories.-level1>.amblog-category>.amblog-link {
	font-weight: normal;
}
.amblog-post-container .amblog-title, .amblog-grid-list>.amblog-item .amblog-title, .amblog-grid-list .slick-slide .amblog-item 
.amblog-title {
	font-size: 24px;
	color: #000;
	line-height: 27px;
	letter-spacing: 0.32px;
}
.amblog-post-container .amblog-content .blog-left{
	width: 100%;
}
.amblog-shot {
	display: none;
}
.mobile-date .short-discription{
	font-size: 17px;
}
.amblog-bottom {
    justify-content: center;
}
.amblog-grid-list > .amblog-item .amblog-read {
	font-size: 12px;
	color: #000000;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: normal;
}
.amblog-post-container .amblog-date, .amblog-grid-list>.amblog-item .amblog-date, .amblog-grid-list .slick-slide .amblog-item 
.amblog-date {
	color: #000;
	font-size: 12px;
}
.amblog-index-index .amblog-ref, .amblog-index-post .amblog-ref, .amblog-index-author .amblog-ref {
	color: #000;
	font-size: 12px;	
	font-weight: normal;
}
.amblog-index-index .amblog-ref:hover, .amblog-index-post .amblog-ref:hover, .amblog-index-author .amblog-ref:hover {
	color: #470018;
}
.amblog-pager-container .amblog-link {
	background: #470018;	
}
.amblog-pager-container .amblog-link:hover {
	background: #000;
}
.amblog-tags {
	display: none;
}
.amblog-index-index .page-title, .amblog-index-post .page-title {
    margin-bottom: 0px;
    padding: 0;
    text-align: center;
}
.amblog-post-container .amblog-footer, .amblog-grid-list>.amblog-item .amblog-footer, .amblog-grid-list .slick-slide .amblog-item 
.amblog-footer {
	padding: 0px;
}
.page-title-wrapper{
	margin-bottom: 30px;
	text-align: center;
}
 article.desktop.two-columns-left {
	width: 100%;
}
.amblog-post-container .amblog-content .blog-left-inner{
	max-width: 100%;
	padding: 0px;
}
.amblog-post-container .amblog-content > p {

}
@media only screen and (max-width: 767px) {
	.amblog-index-index .page-title, .amblog-index-post .page-title {
		margin-bottom: 30px; 
	}
 	.amblog-main-content {
	    padding-top: 15px;
	}
 	.mobile-date .short-discription{
		font-size: 15px;
	}	
 	.amblog-main-content>.amblog-item {
 		margin: 0px;
 	}
 	.amblog-grid-list>.amblog-item {
 		margin-bottom: 0px;
 	}
}
</style>