<?php /* @var $block \Magento\ProductAlert\Block\Product\View */?>
<a href="#" class="productalert-button" data-post='<?= /* @noEscape */ $block->getPostAction() ?>'
   title="<?= $block->escapeHtml(__($block->getSignupLabel())) ?>" class="action alert">
    <span>
        <?= $block->escapeHtml(__($block->getSignupLabel())) ?>
    </span>
</a>