<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) : ?>
    <?php
    $type = 'widget-product-list';

    $mode = 'list';

    $image = 'new_products_content_widget_list';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;
    ?>
    <div class="block widget block-products <?= /* @noEscape */ $mode ?>">
        <?php if ($block->getTitle()) : ?>
            <div class="block-title"><?= $block->escapeHtml(__($block->getTitle())) ?></div>
        <?php endif ?>
        <div class="block-content">
            <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
            <div class="<?= /* @noEscape */ $mode ?> product-<?= /* @noEscape */ $mode ?>-wrapper <?= /* @noEscape */ ($mode = 'list') ? 'product-list-wrapper--mobile-horizontal-scroll' : '' ?>">
                <div class="product-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ ($mode = 'list') ? 'product-list--horizontal' : '' ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item) : ?>
                        <?= /* @noEscape */ ($iterator++ == 1) ? '<div class="product-item">' : '</div><div class="product-item">' ?>
                        <div class="product-item__image-wrapper">
                            <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item__image-link">
                                <?= $block->getImage($_item, $image)->toHtml() ?>
                            </a>
                            <div class="product-items__splashes">
                            <?php
                            $finalPrice = $_item->getFinalPrice();
                            $originalPrice = $_item->getPrice();

                            if ( $finalPrice < $originalPrice ):
                                $percentage = floor((($originalPrice - $finalPrice) / $originalPrice) * 100 )
                                ?>
                                <div class="product-splash">
                                    <?= "-{$percentage}%" ?>
                                </div>
                            <?php endif; ?>
                            </div>
                        </div>
                        <div class="product-item__details">

                                <?php if ($templateType) : ?>
                                    <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                <?php endif; ?>

                                <div class="product-item__name">
                                    <a title="<?= $block->escapeHtmlAttr($_item->getName()) ?>"
                                       href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                       class="product-item__link">
                                        <?= $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </div>


                                <?= $block->getProductDetailsHtml($_item) ?>

                                <?= $block->getProductPriceHtml($_item, $type) ?>

                        </div>
                        <?= ($iterator == count($items) + 1) ? '</div>' : '' ?>
                    <?php endforeach ?>
                </div>
            </div>
            <?= $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>
