<if args="getCartParam('summary_count')">
    <div class="mini-cart__product-list product-list" data-bind="foreach: { data: getCartItems(), as: 'item' }">
        <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
              render="{name: getTemplate(), data: item}"
        />
    </div>
    <div class="mini-cart__total" data-bind="html: 'TOTAL ' + getCartParam('subtotal_incl_tax')" />
    <div class="mini-cart__actions">
        <button class="button button--primary" translate="'Proceed to checkout'"></button>
        <button class="button button--secondary" translate="'Continue shopping'"></button>
    </div>
</if>
<ifnot args="getCartParam('summary_count')">
    <div class="text-center text-muted" translate="'You have no items in your shopping cart.'"
    />
    <if args="getCartParam('cart_empty_message')">
        <div class="minicart empty text" text="getCartParam('cart_empty_message')"/>
    </if>
</ifnot>