<div class="header-container layout2">
    <div class="header">
        <div class="container">
            <div class="for-full-withmenu">
                <?php echo $this->getChildHtml("logo"); ?>
                <?php echo $this->getChildHtml("top.navigation.sections"); ?>
                <div class="header-buttons-wrapper">
                    <?php echo $this->getChildHtml("form.mini"); ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    require(['jquery'], function ($) {
        $(document).ready(function ($) {
            $(window).scroll(function () {
                var num = $('.header-container').outerHeight();
                var screenWidth = $(window).width();

                if ($(this).scrollTop() > num && screenWidth >= 768) {
                    $(".header").addClass("sticky");
                } else {
                    $(".header").removeClass("sticky");
                }
            });
        });
    });
</script>
