<?php
/** @var \Magento\Newsletter\Block\Subscribe $block */
?>
<div class="block newsletter">
    <div class="brand-title">
        <?php echo __('Sign Up for Swiss Clinic\'s Newsletter') ?>
    </div>
    <div class="content">
        <form class="form subscribe"
              novalidate
              action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
              method="post"
              data-mage-init='{"validation": {"errorClass": "mage-error"}}'
              id="newsletter-validate-detail">
            <div class="field newsletter">
                <label class="label" for="newsletter"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Swiss Clinic\'s Newsletter') ?></span></label>
                <div class="des-newletter"><?php echo __('Subscribe to the newsletter and be the first to receive the latest news!')?></div>
                <div class="control">
                    <input name="email" type="email" id="newsletter"
                           placeholder="<?php /* @escapeNotVerified */ echo __('Subscribe to Newsletter') ?>"
                           data-validate="{required:true, 'validate-email':true}"/>
                    <div class="actions">
                        <button class="action subscribe primary" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
                            <span><?php /* @escapeNotVerified */ echo __('Subscribe') ?></span>
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
